*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* ------------------ styling header ----------------- */


.navbar{
    background-color: #000000;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
    background-image: url(./Assets/salt\ n\ pepper\ logo.webp);
    background-size: cover;
    width: 170px;
    height: 80px;
}

.nav-menu{
    width: 55%;
    /* margin-left: 150px; */
    padding-left: 150px;
}

.nav-menu a{
    /* display: block; */
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 30px;
}


.simple{
    background-color: transparent;
    color: #fff;
    width: 150px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 28px;
    padding: 20px;
}

.orange{
    background-color: #ed1c24;
    color: #fff;
    width: 150px;
    height: 60px;
    border: 1px solid #ed1c24;
    border-radius: 29px;
    padding: 21px;
}


/* --------------- styling hero section --------------- */



/* ---------- box 1 starts ---------- */


#main{
    background-color: #000000;
    height: 700px;
    color: #ffffff;
}

.introduction{
    text-align: center;
    padding: 75px;
}

.introduction h1{
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 35px;
}

.introduction p{
    font-size: 15px;
}


/* ------ box 2 starts ---------- */

.restaurant{
    text-align: center;
    padding: 75px;
    margin-top: -100px;
}

.restaurant h2{
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
}

.sp-restaurant{
    background-color: #000000;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.sp-restaurant img{
    height: 340px;
    width: 540px;
}

.sp-restaurant-content{
    width: 490px;
}

.sp-restaurant-content p{
    font-size: 13px;
    padding-top: 20px;
}

.margin-left{
    margin-left: -45px;
}


/* --------- box 3 starts --------- */


.sp-franchise{
    background-color: #000000;
    height: 1000px; /* have to change */
}


.sp-franchise span{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 36px;
}

.sp-franchise h4{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding: 30px 0px;
}

.sp-franchise img{
    width: 530px;
    height: 220px;
}


.spf-content{
    display: flex;
    justify-content: space-around;
    padding: 40px 50px;
}


.spf-content-box1{
    width: 480px;
}


.spf-content span{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 33px;
}

.spf-content h3{
    font-size: 28px;
    font-weight: 500;
}

.spf-content p{
    font-size: 13px;
}

.spf-content-box1 h3{
    padding-bottom: 20px;
}


/* ---------- box 4 starts ---------- */


.sp-express{
    background-color: #000000;
    height: 600px;
}


.sp-express span{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 33px;
}


.sp-express-content{
    display: flex;
    justify-content: space-evenly;
    /* align-items: start; */
    padding-top: 60px;
}


.sp-express h3{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
}

.sp-express p{
    text-align: center;
    font-size: 16px;
    margin-top: -10px;

}

.sp-express-content img{
    width: 540px;
    height: 350px;
}

.para p{
    width: 550px;
    font-size: 12px;
    text-align: justify;
    margin-left: -40px;
}


/* ---------- box 5 starts ------------ */


.sp-express-flex{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    gap: 30px;
    padding: 10px 70px;
    
}


.sp-express-franchise{
    background-color: #000000;
    height: 1100px;
}


.sp-express-franchise span{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 36px;
}

.sp-express-franchise h4{
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    padding: 30px 0px;
}

.sp-express-franchise-box{
    background-color: #0F0F0F;
    width: 336px;
    height: 430px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.sp-express-franchise-box img{
    width: 310px;
    height: 270px;
    padding-bottom: 15px;
}

.sp-express-franchise-box span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.sp-express-franchise-box p{
    font-size: 13px;
    padding-top: 15px;
    /* font-weight: 400; */
    padding-bottom: 15px;
}

.sp-express-franchise-box a{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    /* padding-top: 30px; */
}


/* ---------- box 6 starts --------------- */

#sp-vf{
    background-color: #000000;
    height: 550px;
    color: #ffffff;
}

#sp-vf span{
    font-family: 'Caveat', cursive;
    font-size: 35px;
    
}

#sp-vf h4{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.vf-img img{
    width: 550px;
    height: 310px;
}


.sp-vf-content{
    display: flex;
    justify-content: space-evenly;
    padding: 80px 80px;
}

.vf-address{
    width: 540px;
    margin-left: 20px;
}

.vf-address p{
    font-size: 12px;
    padding-bottom: 10px;
}

.vf-address h3{
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 15px;
}

.fa-location-dot{
    font-size: 11px;
}

.fa-phone{
    font-size: 11px;
}

.vf-address a{
    text-decoration: none;
    color: #ffffff;
}


/* ---------- footer starts ------------ */


footer{
    height: 430px; /* have to change */
    /* width: 1250px; */
    background-color: #0F0F0F;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding-top: 80px;
    margin-top: 330%;
}


footer a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}


footer a li{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.foot-para{
    width: 350px;
    height: 290px;
    text-align: left;
}

.foot-para img{
    width: 140px;
    height: 65px;
}

.foot-para p{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 22px;
}

.foot-menu{
    width: 200px;
    /* height: 280px; */

}

.foot-menu p{
    padding-bottom: 20px;
}



.foot-menu li{
    list-style: none;
    line-height: 40px;
}


.foot-address{
    width: 250px;
    height: 280px;
}
.foot-address li{
    list-style: none;
    line-height: 35px;
}


.foot-address p{
    padding-bottom: 20px;
}


.icon i{
    /* color: #ED1C24; */
    /* background-color: #ED1C24; */
    width: 40px;
    height: 40px;
    background: #ED1C24;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    padding-top: 12px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.follow p{
    padding-bottom: 22px;
}

.download{
    padding-top: 17px;
}

.download img{
    display: block;
    padding-top: 12px;
}


.copyright{
    background-color: #0F0F0F;
    height: 50px;
    color: #ffffff;
    font-size: 14px;
    
}

.copyright-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 50px;
}